<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>쇼핑몰</title>
</head>
<body>
	<main layout:fragment="content" class="container">
		<h1 class="mt-3">로그인</h1>
		<form th:action="@{/loginPost}" method="post"> <!-- 여기서 action은 securityConfig.java에 loginprocessingurl과 맞춰줘야 함.-->
			<div class="form-group">
				<input type="text" class="form-control" name="username"> <!-- 여기서 name의 id와 pw는 me_id와 me_pw가 아닌 기본값이 username과 password이다.-->
			</div>
			<div class="form-group">
				<input type="password" class="form-control" name="password">
			</div>
			<button class="btn btn-success col-12 mb-3">로그인</button>
		</form>
	</main>
</body>
</html>